.todos-task {
  background-color: aliceblue;
  border-bottom: 1px solid black;
  margin: 20px;
}

button {
  margin: auto;
  width: 100%;
  background-color: aliceblue;
}

.body {
  margin: auto;
  border: solid 1px green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  box-shadow: 1px 1px 5px goldenrod;
  border: solid 2px goldenrod;
}
